@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h2>Description:</h2>
<p>Created by University of North Florida Computer and Information Science students for Episcopal Children's Services (ECS). This website was created as an internal only website to provide ECS with the
ability to track staff member's teacher certifications and training. It was based on excel spreadsheets created by current staff administrators.</p>
<h3>Student Developers</h3>
<ul>
    <li>Cristopher Kingdon</li>
    <li>Jerrad Monagan</li>
    <li>Michael Dimmitt</li>
    <li>Austin Dolby</li>
</ul>
