@{
    ViewData["Title"] = "Home Page";
}

    

<div class="row">
    <img src="~/images/place_hold.png" class="img-responsive" align="left" />
    <button class="btn btn-lg btn-primary" onclick="" style="width: 300px; height: 250px ; font-size: 60px;">Login</button>
</div>
