@{
    ViewData["Title"] = "Home Page";
}
<div class="col-xs-1">
    <button class="btn btn-lg btn-primary" onclick="">Login</button>
</div>
<div class="row">
    <img src="~/images/place_holder.png" alt="ASP.NET" class="img-responsive" />
</div>
