<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.rtl.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.silver.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.1.118/styles/kendo.mobile.all.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<script src="http://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>

<div id="Grid"></div> <!--end of grid-->
<style>    
    body {
        font-size: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        $("#Grid").kendoGrid({
            toolbar: ["excel"],
            excel: {
                fileName: "EmployeeTrackingSystem.xlsx",
                filterable: true,  //Allow Filtering
                allPages: true
            },
            dataSource: {
                type: "json",
                transport: {
                    contentType: "application/json; charset=utf-8",
                    type: "GET", // type: "GET","POST"
                    dataType: "json", //dataType: "json","odata"
                    read: "/Reports/GetKendoLists",  //API URL
                },
                pageSize: 15,
                schema: {
                    model: {
                        fields: {
                            StaffMemberID: {
                                type: "number"
                            },
                            FirstName: {
                                type: "string"
                            },
                            LastName: {
                                type: "string"
                            },
                            Email: {
                                type: "string"
                            },
                            DateofHire: {
                                type: "date"
                            },
                            DirectorCredentials: {
                                type: "boolean"
                            },
                            DCExpiration: {
                                type: "date"
                            },
                            CDAInProgress: {
                                type: "boolean"
                            },
                            CDAType: {
                                type: "string"
                            },
                            CDAExpiration: {
                                type: "date"
                            },
                            CDARenewalProcess: {
                                type: "string"
                            },
                            Comments: {
                                type: "string"
                            },
                            Goal: {
                                type: "boolean"
                            },
                            MidYear: {
                                type: "boolean"
                            },
                            EndYear: {
                                type: "boolean"
                            },
                            GoalMet: {
                                type: "boolean"
                            },
                            TAndAApp: {
                                type: "boolean"
                            },
                            ClassCompleted: {
                                type: "boolean"
                            },
                            ClassPaid: {
                                type: "boolean"
                            },
                            RequiredHours: {
                                type: "number"
                            },
                            HoursEarned: {
                                type: "number"
                            },
                            Notes: {
                                type: "string"
                            },
                            TermDate: {
                                type: "date"
                            },
                            IsInactive: {
                                type: "boolean"
                            },
                            PositionID: { type: "number" },
                            PositionTitle: { type: "string" },
                           
                            CenterID: {
                                type: "number"
                            },
                            Name: {
                                type: "string"
                            },
                            County: {
                                type: "string"
                            },
                            Region: {
                                type: "string"
                            },
                            EducationID: {type: "number"},
                            DegreeAbrv: { type: "string" },
                            DegreeLevel: { type: "string" },
                            DegreeType: { type: "string" } ,
                            DegreeDetail: { type: "string" },
                            CertCompletionDate: {
                                type: "date"
                            },
                            CertificationID: {
                                type: "number"
                            },
                            CertName: {
                                type: "string"
                            },
                            CertExpireAmount: {
                                type: "number"
                            },
                            CertReq: {
                                type: "String"
                            }
                        }
                    }
                },
            },
            searchable: true,
            scrollable: true,
            filterable: true,
            sortable: true,
            groupable: true,
            reorderable: true,
            resizable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
                //{
                //field: "StaffMemberID",
                //title: "StaffMemberID",
                //width: "80px",
                //height: 1
                //},
                {
                field: "FirstName",
                title: "First Name",
                width: "80px"
            }, {
                field: "LastName",
                title: "Last Name",
                width: "80px"
            }, {
                field: "Email",
                title: "Email",
                width: "80px"
            }, {
                field: "DateofHire",
                title: "Date of Hire",
                format: "{0:MM-dd-yyyy}",
                width: "80px"
            }, {
                field: "DirectorCredentials",
                title: "DirectorCredentials",
                width: "80px"
            }, {
                field: "DCExpiration",
                title: "DCExpiration",
                format: "{0:MM-dd-yyyy}",
                width: "80px"
            }, {
                field: "CDAInProgress",
                title: "CDAInProgress",
                width: "80px"
            }, {
                field: "CDAType",
                title: "CDAType",
                width: "80px"
            }, {
                field: "CDAExpiration",
                title: "CDAExpiration",
                format: "{0:MM-dd-yyyy}",
                width: "80px"
            }, {
                field: "CDARenewalProcess",
                title: "CDARenewalProcess", 
                width: "80px"
            }, {
                field: "Comments",
                title: "Comments",
                width: "80px"
            }, {
                field: "Goal",
                title: "Goal",
                width: "80px"
            }, {
                field: "MidYear",
                title: "MidYear",
                width: "80px"
            }, {
                field: "EndYear",
                title: "EndYear",
                width: "80px"
            }, {
                field: "GoalMet",
                title: "GoalMet",
                width: "80px"
            }, {
                field: "TAndAApp",
                title: "TAndAApp",
                width: "80px"
            }, {
                field: "ClassCompleted",
                title: "ClassCompleted",
                width: "80px"
            }, {
                field: "ClassPaid",
                title: "ClassPaid",
                width: "80px"
            }, {
                field: "RequiredHours",
                title: "RequiredHours",
                width: "80px"
            }, {
                field: "HoursEarned",
                title: "HoursEarned",
                width: "80px"
            }, {
                field: "Notes",
                title: "Notes",
                width: "80px"
            }, {
                field: "TermDate",
                title: "TermDate",
                format: "{0:MM-dd-yyyy}",
                width: "80px"
            }, {
                field: "IsInactive",
                title: "IsInactive",
                width: "80px"
            },
            //{
            //    field: "PositionID",
            //    title: "PositionID",
            //    width: "80px"
            //},
            {
                field: "PositionTitle",
                title: "PositionTitle",
                width: "80px"
            },      
            //{
            //    field: "CenterID",
            //    title: "CenterID",
            //    width: "80px"
            //},
            {
                field: "Name",
                title: "Name",
                width: "80px"
            }, {
                field: "County",
                title: "County",
                width: "80px"
            }, {
                field: "Region",
                title: "Region",
                width: "80px"
            },

                //{
                //    field: "EducationID",
                //    title: "EducationID",
                //    width: "80px"
                //},
                {
                field: "DegreeAbrv",
                title: "DegreeAbrv",
                    width: "80px"
                },
                {
                field: "DegreeLevel",
                title: "DegreeLevel",
                    width: "80px"
                },
                {
                field: "DegreeType",
                title: "DegreeType",
                width: "80px"
                },
                {
                field: "DegreeDetail",
                title: "DegreeDetail",
                width: "80px" },
                {
                field: "CertCompletionDate",
                title: "CertCompletionDate",
                format: "{0:MM-dd-yyyy}",
                width: "80px"
            },
            //{
            //    field: "CertificationID",
            //    title: "CertificationID",
            //    width: "80px"
            //},
            {
                field: "CertName",
                title: "CertName",
                width: "80px"
            }, {
                field: "CertExpireAmount",
                title: "CertExpireAmount",
                width: "80px"
            }, {
                field: "CertReq",
                title: "CertReq",
                width: "80px"
            }]
        });
    });
</script>
