<script src="~/lib/jquery-table2excel/dist/jquery.table2excel.min.js"></script>
<script src="~/lib/moment/min/moment.min.js"></script>

<script>
    function exportexcel() {
        $("#StaffTable").table2excel({
            name: "Table2Excel",
            filename: "ECSReport",
            fileext: ".xls"
        });
    }

    //$(document).ready(function () {
    //    $("#StaffTable").tablesorter({ sortList: [[1, 0], [0, 0]] });
    //});

    //gets the list of all available certs to create table headers and then passes them to getTable function
    function getCerts() {
        $.getJSON('/Reports/GetCertList', function (json) {
            var trCenter = '';
            var tdCenter = '';
            $.each(json, function (index, cert) {
                trCenter += '<th>' + cert.CertName + ' Expire Date</th>';
                tdCenter += '<td id ="' + findAndReplace(cert.CertName, " ", "_") + '"></td>'
            });
            getTable(trCenter, tdCenter);

        });
    }
    //takes in the date of cert and the amount of time cert is valid and returns the expiration date and sets class to color which will expire
    function colorCodeDate(expDateIn, expAmount) {
        var expDate = moment(moment(expDateIn).add(expAmount, "Months"));
        var todaysDate = moment();
        var calcDate = expDate.diff(todaysDate, 'days');
        var calcOut = '';
        if (calcDate <= 30) { calcOut = '<span class ="thirtyDays btn-danger">' + moment(expDate).format("M/D/YYYY") + '(' + calcDate + ')<span>'; }
        else if (calcDate <= 60) { calcOut = '<span class ="sixtyDays btn-warning">' + moment(expDate).format("M/D/YYYY") + '(' + calcDate + ')<span>'; }
        else if (calcDate <= 90) { calcOut = '<span class ="ninetyDays btn-info">' + moment(expDate).format("M/D/YYYY") + '(' + calcDate + ')<span>'; }
        else { calcOut = '<span>' + moment(expDate).format("M/D/YYYY") + '(' + calcDate + ')<span>'; }
        return calcOut;
    }

    function getTable(trCenter, tdCenter) {
        $.getJSON('/Reports/GetFilterLists', function (data) {
            //console.log(data);
            var trHTML = '';
            var thead = '<tr><th>First Name</th><th>LastName</th><th>Email</th><th>Date of Hire</th><th>Comments</th><th>Center Name</th><th>Center County</th><th>Ceter Region</th><th>Position</th><th>Degree Abrv</th><th>Degree Level</th><th>Degree Type</th><th>Degree Detail</th><th>Required Cert</th>' + trCenter + '</tr>';
            $('#StaffTable thead').append(thead);
            $.each(data, function (index, staff) {
                if (!staff.isInactive) {
                    //console.log(staff);
                    Position = '';
                    EducationAbrv = '';
                    EducationLevel = '';
                    EducationType = '';
                    EducationDetail = '';
                    PRCertName = '';
                    PRCertExpireAmount = '';
                    PRCertCompletionDate = '';
                    CertName = '';
                    CertExpireAmount = '';
                    CertCompletionDate = '';
                    CertInProgress = '';
                    $.each(staff.positions, function (index, pos) { Position += pos.positionTitle + ', '; $.each(pos.requiredCerts, function (index, posReq) { PRCertName += posReq.certName + ', '; PRCertExpireAmount += posReq.certExpireAmount + ', '; PRCertCompletionDate += posReq.certCompletionDate + ', '; }); });
                    $.each(staff.education, function (index, edu) { EducationAbrv += edu.degreeAbrv + ', '; EducationLevel += edu.degreeLevel + ', '; EducationType += edu.degreeType + ', '; EducationDetail += edu.degreeDetail + ', '; });
                    $('#StaffTable tbody').append(
                        '<tr id="' + staff.staffMemberID + '"><td>'
                        + staff.firstName + '</td><td>'
                        + staff.lastName + '</td><td>'
                        + staff.email + '</td><td>'
                        + moment(staff.dateOfHire).format("M/D/YYYY") + '</td><td>'
                        + staff.comments + '</td><td>'
                        + staff.center.name + '</td><td>'
                        + staff.center.county + '</td><td>'
                        + staff.center.region + '</td><td>'
                        + Position + '</td><td>'
                        + EducationAbrv + '</td><td>'
                        + EducationLevel + '</td><td>'
                        + EducationType + '</td><td>'
                        + EducationDetail + '</td><td>'
                        + PRCertName + '</td>'
                        + tdCenter
                        + '</tr >');
                    //console.log('finished table');
                    $.each(staff.completedCerts, function (index, certs) { $("#" + (staff.staffMemberID) + "> #" + (findAndReplace(certs.cert.certName, " ", "_"))).append(colorCodeDate(certs.dateCompleted, certs.cert.certExpireAmount)); console.log('finished fill'); CertInProgress += certs.certInProgress + ', '; CertName += certs.cert.certName + ', '; CertExpireAmount += certs.cert.certExpireAmount + ', '; });
                }
            });
        });
    }
    getCerts();
</script>
<div class="row">
    <img src="~/images/ecslogo.png" class="img-responsive" align="left" style="width: 165px; height: 55px" />
</div>
<link rel="stylesheet" href="~/css/legendstyling.css" />
<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-8"></div>
    <div class="col-6 col-md-4">.</div>
</div>
<div class="col-2 col-md-2">
    <div class='my-legend'>
        <div class='legend-title'>Color Legend</div>
        <div class='legend-scale'>
            <ul class='legend-labels'>
                <li><span style='background:#FB8072;'></span>30 Days before CDA Expires</li>
                <li><span style='background:#FFFFB3;'></span>60 Days before CDA Expires</li>
                <li><span style='background:#80B1D3;'></span>90 Days before CDA Expires</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-12 col-md-10 container">
    <table id="StaffTable" class="table table-hover table-bordered table-condensed tablesorter">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
    <button class="btn-primary" onclick="exportexcel()">Export to Excel</button>
