@model IEnumerable<ExampleModel>

<table>
    @foreach (var item in Model){
        <tr>
            <td>@item.ExampleModelID</td>
            <td>@item.FullName</td>
            <td>@item.DoB</td>
            <td>@item.DoesNotExistInDB</td>
        </tr>
    }
</table>

It works!foreach