@model SeniorProjectECS.Models.User

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="UserID" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessLevel" class="control-label"></label>
                <select  asp-for="AccessLevel">
                    <option value="1">Admin</option>
                    <option value="2">View Only User</option>
                </select>
                <span asp-validation-for="AccessLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#resetpassword">Reset Password</button>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>

        <div id="resetpassword" class="modal fade" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form asp-action="ChangePassword">
                        <div class="modal-header">
                            <h5 class="modal-title" id="changePasswordTitle">Change Password</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" value="@Model.UserID" />
                            <div class="form-group">
                                <label class="control-label">New Password</label>
                                <input id="PasswordHash" class="form-control" type="password" name="PasswordHash">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Retype New Password</label>
                                <input id="PasswordHashRetype" class="form-control" type="password" name="PasswordHashRetype">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <script>
                                function validatePassword() {

                                    var password = document.getElementById("PasswordHash").value;
                                    var confirmPassword = document.getElementById("PasswordHashRetype").value;
                                    if (password != confirmPassword) {
                                        alert("Passwords do not match.");
                                        return false;
                                    }
                                    return true;
                                }
                            </script>
                            <script>
                                function CancelPassword() {
                                    return false;
                                }
                            </script>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onsubmit="return CancelPassword()">Close</button>

                            <input type="submit" value="Submit" class="btn btn-primary" onclick="return validatePassword()" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

