@model IEnumerable<Center>

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>County</th>
        <th>Region</th>
    </tr>
@foreach(var center in Model)
{
    <tr>
        <td>@center.Name</td>
        <td>@center.County</td>
        <td>@center.Region</td>
    </tr>
}
</table>